.section {
  padding: var(--space-80) 0;
  
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-48);
  align-items: center;
  background: #387F1A;
}

.imageWrap {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-20);
  padding: 30px 0px 30px 30px;
}

.title {
  font-family: var(--font-main);
  font-size: 24px;
  font-weight: 500;
  color: var(--color-offwhite);
  line-height: 1.1;
  margin-bottom: var(--space-12);
}

.description {
  font-family: var(--font-paragraph);
  font-size: 15px;
  font-weight:500;
  color: var(--color-offwhite);
  line-height: 1.6;
}

@media (min-width: 992px) {


  .grid {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-64);
    
  }

  .imageWrap {
    height: 317px;
  }

}
.container{
  padding: 0px !important;
}