.section {
  padding: 40px 0;
}

.light {
  background-color: var(--color-page-green);
}

.offwhite {
  background-color: var(--color-page-green);
}

.dark {
  background-color: var(--color-black);
  color: var(--color-white);
}

@media (max-width: 768px) {
  .section {
    padding: var(--space-48) 0;
  }
}
